.knit
*.o
xz_r.s
far.s
lfi-verify/target
lfi-ras/test
lfi-ras/target
/lfi-post/lfi-post
/lfi-run/lfi-run
/lfi-run/test/test
/lfi-run/test/benchswitch
/lfi-run/test/fork
/lfi-run/test/hello
*.dep
todo.txt
*.elf
*.a
/extra/decl-verify/decl-verify
lfi.bdd.c
lfi.bdd.pdf
lfi.bdd.dot

*.bdd.c
*.bdd.pdf
*.bdd.dot
*.bdd
!/lfi-veribdd/generator/lfi.bdd
genbdd
genbddsingle

lfi-verify-amd64
/lfi-ld/lfi-ld
/lfi-leg/lfi-leg
/lfi-postlink/lfi-postlink

*.leg.c
*.js

install

subprojects/capstone
subprojects/zydis
subprojects/fadec
subprojects/disarm
subprojects/libmmap
subprojects/libargp

.cache
