.knit
*.o
xz_r.s
far.s
lfi-verify/test
lfi-verify/target
/lfi-post/lfi-post
/lfi-run/lfi-run
/lfi-run/test/test
/lfi-run/test/benchswitch
/lfi-run/test/fork
/lfi-run/test/hello
*.dep
todo.txt
*.elf
*.a
decl-verify
