[submodule "lfi-runtime"]
	path = lfi-runtime
	url = https://github.com/lfi-project/lfi-runtime
	branch = master
[submodule "lfi-verifier"]
	path = lfi-verifier
	url = https://github.com/lfi-project/lfi-verifier
	branch = master
[submodule "lfi-llvm-toolchain"]
	path = lfi-llvm-toolchain
	url = https://github.com/lfi-project/lfi-llvm-toolchain
	branch = master
[submodule "lfi-bind"]
	path = lfi-bind
	url = https://github.com/lfi-project/lfi-bind
	branch = master
[submodule "lfi-rewriter"]
	path = lfi-rewriter
	url = https://github.com/lfi-project/lfi-rewriter
	branch = master
[submodule "lfi-specification"]
	path = lfi-specification
	url = https://github.com/lfi-project/lfi-specification
	branch = master
[submodule "lfi-bench"]
	path = lfi-bench
	url = https://github.com/lfi-project/lfi-bench
	branch = master
